{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}


	<h1>Insérer l'identifiant</h1>

	<div>
		{# {{ form_start(form, {'action': path('app_forgotten_password')}) }} #}
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>

{% endblock %}
