{% extends 'base.html.twig' %}

{% block title %}Admin page
{% endblock %}

{% block body %}
	<div class="d-flex flex-column align-items-center">
		<div class="mb-3">
			<a href="{{ path('admin_create_user') }}" class="btn btn-primary">Admin create user</a>
		</div>
		<div class="mb-3">
			<a href="{{ path('admin_commentary') }}" class="btn btn-secondary">Admin commentary</a>
		</div>
		<div class="mb-3">
			<a href="{{ path('admin_inventory') }}" class="btn btn-success">Admin inventory</a>
		</div>
	</div>
{% endblock %}
