{% extends 'base.html.twig' %}

{% block title %}Inventory page
{% endblock %}

{% block body %}


	<div>
		<a href="{{ path('admin_dashboard') }}">Admin Dashboard</a>
		<br>
		<a href="{{ path('app_csvInventory', { 'inventoryNumber': '002612' }) }}">Génération du CSV Rubis</a>
		<br>
		<a href="{{ path('app_inventory_counting_xlsx') }}">Génération du Fichier excel comptage</a>
	</div>

{% endblock %}
