<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
	</head>
	<body>
		<div>
			<ul>
				<ul>
					{% if app.session.get('comment') %}
						{{ app.session.get('comment') }}
					{% endif %}
				</ul>
			</ul>
		</div>
	</body>
</html>
