body {
  background-color: #f2f6eb;
  position: relative;
  min-height: 100vh;
}

/* image bonhomme arba */
.bottom-left-image {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 200px;
  height: auto;
}

/* texte bleu araba */
.blue-arba {
  color: rgb(0, 70, 100);
}

.logo_arba {
  max-width: 150px;
  height: auto;
}

.nav-color {
  background: linear-gradient(180deg,
      rgb(28, 18, 62) 0%,
      rgb(0, 70, 100) 75%,
      rgb(0, 105, 148) 100%);
}

.container {
  margin-top: 50px;
  display: flex;
  width: 500px;
  height: 100px;
}

.form {
  margin: auto;
  text-align: center;
}

.green-text {
  color: rgb(130, 170, 55);
  font-size: 60px;
  font-family: 'Get Show', sans-serif;
}

.content-container {
  width: 30%;
  margin: 0 auto;
}

.content-container h3 {
  width: 100%;
  margin-bottom: 20px;
}

#orders-table td {
  text-align: center;
}

.workday-1 {
  background-color: lightblue !important;
}

.workday-2 {
  background-color: lightgreen !important;
}

@font-face {
  font-family: 'Get Show';
  src: url('../fonts/Get_Show.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SPF bold';
  src: url('../fonts/SFPRODISPLAYBOLD.OTF') format('truetype');
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'SPF regular';
  src: url('../fonts/SFPRODISPLAYREGULAR.OTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.get-show-text {
  font-family: 'Get Show', sans-serif;
}

.sfp-regular-text {
  font-family: 'SPF regular', sans-serif;
}

.sfp-bold-text {
  font-family: 'SPF bold', sans-serif;
}

.rounded-circle {
  display: inline-block;
  width: auto;
  padding: 10px;
  border-radius: 50%;
  background-color: #28a745;
  color: #fff;
  font-size: 30px;
  font-family: 'Get Show', sans-serif;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
}

.input-group .form-control {
  flex: 1;
}

/* PAGE LOGIN ----------------------------------------------------------------------------------------- */

/* espace entre navbar et div de connexion */
.mt-form {
  margin-top: 200px;
}

/* bouton identifiant et mot de passe  */
.input-group .input-group-text {
  background-color: rgb(0, 70, 100);
  border: 1px solid #ced4da;
  padding-right: 10px;
  display: flex;
  align-items: center;
  border-right: 1px solid #ced4da;
  color: #fff;
}

.input-group-text img.login-icon {
  width: 24px;
  height: auto;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

/* bouton connexion */
.custom-btn {
  background-color: rgb(130, 170, 55);
  color: #f2f6eb;
}

/* div de couleur bleue lair autour du form login */
.light-blue-bg {
  padding: 25px 50px;
  background-color: rgb(229, 236, 239);
  border-radius: 5px;
}

/* lien 1ère connexion / mot de passe oublié */
.underline-blue-link {
  color: rgb(0, 70, 100);
  text-decoration: none;
}

/* changement de couleur au survol */
.underline-blue-link:hover {
  color: rgb(255, 184, 0);
  /* color: rgb(130, 170, 55); */
  /* RVB : R255 V184 B0 */
}

.checkbox input[type="checkbox"]:checked {
  background-color: rgb(255, 184, 0);
  border-color: rgb(255, 184, 0);
}