{% extends 'base.html.twig' %}

{% block title %}Paramétrage Inventaire
{% endblock %}

{% block body %}
	<h1>Edition feuilles de comptage</h1>

	<form id="inventoryForm" method="post">
		<div class="d-flex align-items-center">
			<label for="name" class="mr-2">Numéro d'inventaire :</label>
			<input type="text" id="name" name="name" required class="form-control mr-2" placeholder="Numéro d'inventaire" style="width: 200px;">
			<button type="submit" class="btn btn-primary ">Editer</button>

		</div>
	</form>

	<h1>Liste des feuilles de comptage</h1>
	<ul>
		{% for file in files %}
			<li>
				<a href="{{ asset('csv/inventory/' ~ file) }}">{{ file }}</a>
			</li>
		{% else %}
			<li>Aucun fichier trouvé.</li>
		{% endfor %}
	</ul>


	{% block javascript %}
		<script>
			document.getElementById('inventoryForm').addEventListener('submit', function (e) {
e.preventDefault();

let inventoryNumber = document.getElementById('name').value;

if (inventoryNumber) {
let url = "{{ path('app_inventory_setting_counting_page_edition', {'number': 'PLACEHOLDER'}) }}";
url = url.replace('PLACEHOLDER', inventoryNumber);

window.location.href = url;
} else {
alert("Veuillez entrer un numéro d'inventaire.");
}
});
		</script>
	{% endblock %}
{% endblock %}
