{% extends 'base.html.twig' %}

{% block title %}Peupler DB Articles
{% endblock %}

{% block body %}

<h2 class="text-center blue-arba">Ajouter les articles</h2>

<!-- Formulaire centré -->
<div class="d-flex justify-content-center">
	<form id="inventoryDBArticlesForm" method="post" class="text-center">
		<div class="d-flex align-items-center">
			<input type="text" id="nameArticles" name="nameArticles" required class="form-control me-2"
				placeholder="Numéro d'inventaire" style="width: 200px;">
			<button type="submit" class="btn btn-primary ms-2">Mettre en base</button>
		</div>
	</form>
</div>

{% block javascript %}

<script>
	// Articles
	document.getElementById('inventoryDBArticlesForm').addEventListener('submit', function (e) {
		e.preventDefault();

		let inventoryNumberArticles = document.getElementById('nameArticles').value;

		if (inventoryNumberArticles) {
			// Génère l'URL avec le paramètre "inventoryNumberDBArticles"
			let url = "{{ path('app_inventory_populate_inventory_articles_db', {'inventoryNumberDBArticles': 'PLACEHOLDER'}) }}";

			url = url.replace('PLACEHOLDER', inventoryNumberArticles);

			window.location.href = url;
		} else {
			alert("Veuillez entrer un numéro d'inventaire.");
		}
	});
</script>

{% endblock %}
{% endblock %}