{% extends 'base.html.twig' %}

{% block title %}Paramétrage Inventaire{% endblock %}

{% block body %}

<div class="d-flex justify-content-center align-items-center">
	<form id="inventoryForm" method="post" class="p-3 border rounded" style="background-color: #f8f9fa;">
		<h3 class="text-center blue-arba">Edition feuilles de comptage</h3>
		<div class="d-flex align-items-center mb-3">
			<label for="inventoryNumber" class="mr-2">Numéro d'inventaire :</label>
			<input type="text" id="inventoryNumber" name="inventoryNumber" required class="form-control"
				placeholder="Numéro d'inventaire" style="width: 200px; margin-left: 10px;">
		</div>

		<div class="d-flex align-items-center mb-3">
			<label for="printerName" class="mr-2">Imprimante :</label>
			<select id="printerName" name="printerName" required class="form-control"
				style="width: 200px; margin-left: 10px;">
				<option value="">Sélectionner une imprimante</option>
				<option value="AccueilARBA1bis">Accueil ARBA1</option>
				<option value="ARBA1_2">Accueil ARBA1 &amp; Menuiserie </option>
				<option value="Bourgoin">Bourgoin</option>
				<option value="SalleExpo">Salle Expo Ste Luce</option>
				<option value="SalleNazaire">Salle Expo St Nazaire</option>
				<option value="Developpement">Développement (Test)</option>
			</select>
		</div>

		<div class="text-center">
			<button type="submit" class="btn btn-primary">Editer</button>
		</div>
	</form>
</div><br>

<h2 class="text-center blue-arba">Liste des feuilles de comptage imprimées</h2>
<ul>
	{% for file in filesPrinted %}
	<li>
		<a href="{{ asset('csv/inventory/counting_sheets/PDF/printed/stock/' ~ file) }}">{{ file }}</a>
	</li>
	{% else %}
	<li>Aucun fichier trouvé.</li>
	{% endfor %}
</ul>

{% block javascript %}
<script>
	document.getElementById('inventoryForm').addEventListener('submit', function (e) {
		e.preventDefault();

		let inventoryNumber = document.getElementById('inventoryNumber').value;
		let printerName = document.getElementById('printerName').value;

		if (inventoryNumber && printerName) {
			let url = "{{ path('app_inventory_setting_counting_page_edition_stock', {'data': 'PLACEHOLDER'}) }}";

			// Remplacer 'PLACEHOLDER' par un tableau qui contient les deux valeurs
			url = url.replace('PLACEHOLDER', JSON.stringify([inventoryNumber, printerName]));

			window.location.href = url;
		} else {
			alert("Veuillez entrer un numéro d'inventaire et choisir une imprimante.");
		}
	});
</script>
{% endblock %}
{% endblock %}