{% extends 'base.html.twig' %}

{% block title %}CSV Rubis
{% endblock %}

{% block body %}
<h2 class="text-center blue-arba">Génération du CSV d'inventaire LOT Rubis</h2>

<form id="inventoryCSVForm" method="post">
	<div class="d-flex justify-content-center">
		<label for="name" class="mr-2">Numéro d'inventaire :</label>
		<input type="text" id="name" name="name" required class="form-control mr-2" placeholder="Numéro d'inventaire"
			style="width: 200px;">
		<button type="submit" class="btn btn-primary ">Générer</button>

	</div>
</form><br><br>

<h2 class="text-center blue-arba">Liste des inventaires LOT générés</h2>
<ul class="d-flex justify-content-center">
	{% for file in files %}
	<li>
		<a href="{{ asset('csv/inventory/inventory_sheets/lot/' ~ file) }}">{{ file }}</a>
	</li>
	{% else %}
	<li>Aucun fichier trouvé.</li>
	{% endfor %}
</ul>


{% block javascript %}
<script>
	document.getElementById('inventoryCSVForm').addEventListener('submit', function (e) {
		e.preventDefault();

		let inventoryNumber = document.getElementById('name').value;

		if (inventoryNumber) {
			let url = "{{ path('app_csvInventoryLot', {'inventoryNumber': 'PLACEHOLDER'}) }}";
			url = url.replace('PLACEHOLDER', inventoryNumber);

			window.location.href = url;
		} else {
			alert("Veuillez entrer un numéro d'inventaire.");
		}
	});
</script>
{% endblock %}
{% endblock %}