{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}


	{% if emailSent %}
		{# TODO: Inverser la valeur du test pour n'avoir que le if --> {% if not emailSent %}#}
		{# si formulaire sousmis on reste sur la page et on affiche uniquement le flash #}

	{% else %}
		<h1>Insérer l'identifiant</h1>

		<div>
			{{ form_start(form, {'action': path('app_forgotten_password')}) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	{% endif %}
{% endblock %}
