{% extends 'base.html.twig' %}

{% block title %}Dates Livraisons{% endblock %}

{% block body %}

<h1>Détail commande</h1>
{{ form_start(form, {'action': path('app_edit', {'id': order.id})}) }}
    {{ form_widget(form) }}
{{ form_end(form) }}


{% endblock %}
