{% extends 'base.html.twig' %}

{% block title %}Dates Livraisons
{% endblock %}

{% block body %}
	<div class="content-container">
		<h3>Détail commande
			{{ order.id }}</h3>
		{{ form_start(form, {'attr': {'class': 'change-delivery-date-form'}, 'action': path('app_edit', {'id': order.id})}) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}
