{% extends 'base.html.twig' %}

{% block body %}
	<h1>Erreur 500</h1>

	<p>
		Le site n'est pas accessible.<br>
		Veuillez contacter le service développement : developpement@arba.coop
	</p>
{% endblock %}
