{% extends 'base.html.twig' %}

{% block body %}
	<h1>Erreur 404</h1>

	<p>
		La page demandée n'existe pas.<br>
		En cas d'erreur, veuillez contacter le service développement : developpement@arba.coop
		<br>
		<a href="{{ path('app_home') }}">Retour à la page d'accueil</a>.
	</p>
{% endblock %}
